.button {
  background-color: #00796b;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
  text-wrap: nowrap;
  height: 100%;
}

.button:hover {
  background-color: #004d40;
}

.icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #333;
  padding: 8px;
}

.icon:hover {
  color: #00796b;
}
